{% extends 'base.html.twig' %}
{% block style %}
<link href="{{ asset('css/shop-styles.css') }}" rel="stylesheet"/>
{% endblock  %}

{% block title %}Boutique{% endblock %}
{% block body %}
    <section id="produits">
        <div class="product">
            <img src="/Images/Vetements/jogging-sport.jpg" alt="Product Image">
            <h2>Nom du Produit</h2>
            <p>Description du produit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Prix: $19.99</p>
            <button>Acheter</button>
        </div>
        <div class="product">
            <img src="/Images/Vetements/homme-debardeur.jpg" alt="Product Image">
            <h2>Nom du Produit</h2>
            <p>Description du produit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="price"> $19.99</p>
            <button>Acheter</button>
        </div>
        <div class="product">
            <img src="/Images/Equipements/equipement-muscu.jpg" alt="Product Image">
            <h2>Nom du Produit</h2>
            <p>Description du produit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="price"> $19.99</p>
            <button>Acheter</button>
        </div>
        <div class="product">
            <img src="/Images/Vetements/vetement-conbat.jpg" alt="Product Image">
            <h2>Nom du Produit</h2>
            <p>Description du produit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="price"> $19.99</p>
            <button>Acheter</button>
        </div>
        <div class="product">
            <img src="/Images/Accessoires/chaussure-addidas.jpg" alt="Product Image">
            <h2>Nom du Produit</h2>
            <p>Description du produit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="price"> $19.99</p>
            <button>Acheter</button>
        </div>
        <div class="product">
            <img src="/Images/Equipements/t-shir_compresson.jpg" alt="Product Image">
            <h2>Nom du Produit</h2>
            <p>Description du produit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="price"> $19.99</p>
            <button>Acheter</button>
        </div>
    </section>
    <section>
        <form action="" method="get">
            <input type="text" placeholder="Recherche..." name="search">
            <select name="categories">
                <option value="">Toutes les catégories</option>
                <option value="">Natation</option>
                <option value="">Basketball</option>
                <option value="">Football</option>
                <option value="">Football-Americain</option>
                <option value="">Atletisme</option>
                <option value="">Combat-Sports</option>
                <option value="">Fitnes/Musculation</option>
            </select>
            <input type="submit" value="Chercher">
        </form>
    </section>

{% endblock %}